body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #5c518f;
  background: radial-gradient(circle, rgba(92, 81, 143, 1) 20%, rgba(9, 9, 121, 1) 62%, rgba(0, 212, 255, 1) 99%);
  color: #333;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
}

.app {
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  max-width: 520px;
  text-align: center;
}
